* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    overflow: hidden; 
    position: relative;
    display: flex;
    flex-direction: column;
}

header{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: 	#FBA1B7;
    color: whitesmoke;
    font-size: 3vh;
    font-style: italic;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFD1DA;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li {
    margin-right: 7rem;
    margin: 0 1rem;
    flex: 1 1 auto;
    text-align: center;
}

nav ul li:last-child{
    margin-right: 0;
}

li{
    font-family: monospace;
    font-size: 3vh;
}

nav ul li a{
    text-decoration: none;
    color: whitesmoke;
    display: block;
    padding: 0.5rem 1rem;
}

nav ul li a:hover{
    text-decoration: underline;
}

.container{
    display: flex;
    flex: 1;
}

section{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

img{
    width: 90%;
    height: 70vh;
    /* border: 3px solid #CDC1FF; */
    margin-bottom: 1%;
    border-radius: 5px;
}

.container section, .container article{
    flex: 1;
}

 article{
    text-align: start;
    position: relative;
    display: flex;
    font-size: 3vh;
    top: 10%;
    right: 10%;
}

/* 
span{
    position: absolute;
    text-align: start;
    left: 0%;
    top: 5%;
    font-size: 3vh;
    font-family: monospace;
    width: 80%;
    word-wrap: break-word;
    padding-right: 50%;
} */

@media  screen and (max-width: 480px) {

    body{
        overflow: scroll;
    }

    .container{
        display: flex;
        flex-direction: column-reverse;
    }

    section{
        width: 100%;
    }

    img{
        width: 100%;
    }

    article {
        font-size: 0.6rem;
        font-weight: bold;
        margin-top: 0;
        text-align: start;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        top: 0;
    }

    pre{
        position: relative;
        left: 0;
    }
}

.footer{
    background-color: #FBA1B7;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 4vh;
    bottom: 0;
    width: 100%;
    font-size: 2vh;
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
}